<div class="profile col-12 col-md-12 p-0 h-100 text-center" style="background-color: #6c757d !important;">
  <nav class="col-12 col-md-12 navbar navbar-expand bg-secondary flex-md-column flex-row align-items-start">
    <div class="collapse navbar-collapse text-white">
      <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
        <li class="nav-item">
          <h3 class="pl-0 text-nowrap"><i class="fa fa-bullseye fa-fw"></i> <span class="font-weight-bold">Perfil</span></h3>
        </li>
        <li>
          <img class="lazy img-fluid border border-10 border-white rounded-circle" src="../../../assets/public/imgs/carlos.jpg" width="150" heigth="150">
        </li>
        <li class="nav-item">
          <p class="pl-0">Carlos Díaz Chávez</p>
        </li>
        <li class="nav-item">
          <p class="pl-0">cdiazc15@unc.edu.pe</p>
        </li>
        <li class="nav-item">
          <p class="pl-0">Av. Buen Día N° 999</p>
        </li>
        <li class="nav-item">
          <p class="pl-0">Cel. 987654321</p>
        </li>
        <li>
          <div class="row w-100">
            <div class="col col-md-12">
              <div class="col col-md-3 m-1">
                <img src="../../../assets/public/imgs/facebook.png">
              </div>
              <div class="col col-md-3 m-1">
                <img src="../../../assets/public/imgs/flickr.png">
              </div>
              <div class="col col-md-3 m-1">
                <img src="../../../assets/public/imgs/twitter.png">
              </div>
              <div class="col col-md-3 m-1">
                <img src="../../../assets/public/imgs/vimeo.png">
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <b class="pl-1">Descripción</b>
          <hr class="bg-white"/>
          <p>El elemento HTML representa un cambio de tema entre párrafos (por ejemplo, un cambio de escena en una historia, un cambio de tema en una sección).</p>
        </li>
      </ul>
    </div>
  </nav>
</div>
